/* /* Código armado por La Foca Loca S.A. No modificar. */
* {
  box-sizing: border-box;
} 

body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
  animation: fadein 5s;
}

li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  width: 40%;
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  width: 60%;
  background-color: #000;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s; 
}

#juego{
  width: 600px;
  height: 600px;
  background-color: #E84A5F;
}

.Pieza{
  width: 33.3333%;
  height: 33.3333%;
  float: left;
}

.imagen{
  border: 1px solid #000;
  width: 100%;
} 

#imagenFinal{
  width: 200px;
  height: 200px;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
